:root {
  --color-primary-light: #28364e;
  --color-primary-dark: #0e1016;
  --color-secondary: #556ff7;
  --color-white: #fff;
  --default-fs: 1.6rem;

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Defines what 1rem is */
  font-size: 62.5%;
}

body {
  background-color: var(--color-primary-light); 
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: var(--default-fs);
  color: var(--color-white);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--color-primary-dark);
}

.header__logo {
    text-decoration: none;
    color: var(--color-white);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 3rem;
}

.leaderboard {
    background-color: rgba(0, 0, 0, .5);
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
}

.leaderboard__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.leaderboard__score-wrapper > ul {
    list-style: none;
    height: 40rem;
    overflow: hidden ;
    
}

.leaderboard__score-wrapper:hover > ul {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: .7rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-secondary);; 
  border-radius: 10px;
}

.leaderboard__score-wrapper > ul > li {
    margin: .6rem 1rem;
}

.leader-section {
    background-color: rgba(0, 0, 0, .5);
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    text-align: center;
}

.leader-section__heading {
    margin: .4rem 0 3rem 0;
}

.leader-section__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leader-section__form--control {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid var(--color-secondary);
    border-radius: 1rem;
    font-size: 1.6rem;
    background-color: transparent;
    color: var(--color-white);
}

.leader-section__form--control:focus {
     border: 3px solid var(--color-secondary);
    box-shadow: .3rem 0 1rem rgba(37, 71, 192, 0.524);
    outline: none;
}

.btn {
    background: var(--color-secondary);
    border: none;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    color: var(--color-white);
    font-weight: bold;
    box-shadow: .3rem 0 1rem rgba(37, 71, 192, 0.524);
    transition: all .7s;
}

.btn:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.btn:active {
    box-shadow: none;
    transform: translateY(0);
}

.leader-section__form--btn {
    margin-top: 1rem;
}







@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}
